# Environment / secrets
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
!.env.exemple
!**/.env.exemple

__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Node.js / Frontend
node_modules/
dist/
.cache/
*.local
